.wrapper {
  background-image: url("https://images.pexels.com/photos/1308624/pexels-photo-1308624.jpeg?cs=srgb&dl=4k-wallpaper-architecture-background-1308624.jpg&fm=jpg");
  background-size: cover;
}

h1 {
  color: white;
}


